<html>
  <head>
    <title> Det danske Hangman </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

           <meta charset="utf-8">
           <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
           <link rel="stylesheet" type="text/css" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
           <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
       </head>
       <body>
         <div class="header clearfix">
           <nav>
             <ul class="nav nav-pills float-right">
               <li class="nav-item">
                 <a class="nav-link active" href="/">Hjem <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="/new_game">Nyt spil</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="/">Giv op</a>
               </li>
             </ul>
           </nav>
           <h3 class="text-muted">Det danske Hangman</h3>
            <h3> Nyt spil <h3>
         </div>
